{% extends 'home/base.html'%}
{% block content %}
{% load static %} 
{% csrf_token %}

<div class="top-banner"> 
        <div class="top-banner-items">
                <div> <h1> Tool A2: Omrekenfactoren</h1>  </div>
                <div>  <a href="{% url 'tools:tools' %}">  <img src="{% static 'tools/images/engineering.png' %}"> </a> </div>
        </div> 
</div>

<div class="second-banner"> 
        <div class="second-banner-items">
                <ul>
                        <li><nav><a href="/tools/omrekenfactoren/druk">Druk</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/volume">Volume</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/debiet">Debiet</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/massa">Massa</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/energie">Energie</a></nav></li>
                </ul>                      
              
        </div>
</div>


<div class="main-banner">
        <div class="main-banner-items">
                <div class="maintoola2">
                        <div>
                                <h1>Massa</h1>
                                <div id="converter">
                                        
                                        <label for="value">Waarde:</label>
                                        <input type="number" id="value" placeholder="Vul hier de waarde in" step="any">
                                
                                        <label for="from">Van Eenheid:</label>
                                        <select id="from">
                                        <option value="kilogram">Kilogram (kg)</option>
                                        <option value="gram">Gram (g)</option>
                                        <option value="milligram">Milligram (mg)</option>
                                        <option value="ton">Ton (t)</option>
                                        <option value="pond">Pond (pound) (lb)</option>
                                        <!-- Add more options as needed -->
                                        </select>
                                
                                        <label for="to">Naar Eenheid:</label>
                                        <select id="to">
                                                <option value="kilogram">Kilogram (kg)</option>
                                                <option value="gram">Gram (g)</option>
                                                <option value="milligram">Milligram (mg)</option>
                                                <option value="ton">Ton (t)</option>
                                                <option value="pond">Pond (pound) (lb)</option>
                                        <!-- Add more options as needed -->
                                        </select>
                                
                                        <button id="convertButton" onclick="convert()">Convert</button>
                                
                                        <div id="result"></div>
                                </div>
                        </div>
                       
                        <div> 
                                <br>
                                <h2>The SI-eenheid van massa is: <u>kg</u></h2>
                                <table>
                                        
                                        <thead>
                                            <tr>
                                                <th>Grootheid</th>
                                                <th>SI-eenheid</th>
                                                <th>Eenheid om te zetten in</th>
                                                <th>Gelijkwaardigheid</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="4" class="colspan">Massa</td>
                                                <td rowspan="4" class="colspan">1 kg</td>
                                                <td>Gram</td>
                                                <td>1000 bar</td>
                                            </tr>
                                            <tr>
                                                <td>Milligram</td>
                                                <td>1.000.000 mbar</td>
                                            </tr>
                                            <tr>
                                                <td>Ton</td>
                                                <td>0,001 ton</td>
                                            </tr>
                                            <tr>
                                                <td>Pond (pound)</td>
                                                <td>2,20462 lb</td>
                                            </tr>
                                        
                                            <!-- Add more rows as needed -->
                                        </tbody>
                                </table>
                                
                        </div>
                </div>
                
                
    
        </div>
        
        
</div>




   


{% endblock %} 