{% extends 'home/base.html'%}
{% block content %}
{% load static %} 
{% csrf_token %}

<div class="top-banner"> 
        <div class="top-banner-items">
                <div> <h1> Tool A2: Omrekenfactoren</h1>  </div>
                <div>  <a href="{% url 'tools:tools' %}">  <img src="{% static 'tools/images/engineering.png' %}"> </a> </div>
        </div> 
</div>

<div class="second-banner"> 
        <div class="second-banner-items">
                <ul>
                        <li><nav><a href="/tools/omrekenfactoren/druk">Druk</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/volume">Volume</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/debiet">Debiet</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/massa">Massa</a></nav></li>
                        <li><nav><a href="/tools/omrekenfactoren/energie">Energie</a></nav></li>
                </ul>                      
              
        </div>
</div>


<div class="main-banner">
        <div class="main-banner-items">
                <div class="maintoola2">
                        <div>
                                <h1>Debiet</h1>
                                <div id="converter">
                                        
                                        <label for="value">Waarde:</label>
                                        <input type="number" id="value" placeholder="Vul hier de waarde in" step="any">
                                
                                        <label for="from">Van Eenheid:</label>
                                        <select id="from">
                                                <option value="cubicmeterpersecond">Kubieke meter per seconde (m³/s)</option>
                                                <option value="cubicmeterperhour">Kubieke meter per uur (m³/h)</option>
                                                <option value="cubicmeterperminute">Kubieke meter per minuut (m³/min)</option>
                                                <option value="litersperhour">Liters per uur (l/h)</option>
                                                <option value="litersperminute">Liters per minuut (l/min)</option>
                                                <option value="literspersecond">Liters per seconde (l/s)</option>
                                                
                                            <!-- Add more options as needed -->
                                        </select>
                                
                                        <label for="to">Naar Eenheid:</label>
                                        <select id="to">
                                                <option value="cubicmeterperhour">Kubieke meter per uur (m³/h)</option>
                                                <option value="cubicmeterperminute">Kubieke meter per minuut (m³/min)</option>
                                                <option value="cubicmeterpersecond">Kubieke meter per seconde (m³/s)</option>
                                                <option value="litersperhour">Liters per uur (l/h)</option>
                                                <option value="litersperminute">Liters per minuut (l/min)</option>
                                                <option value="literspersecond">Liters per seconde (l/s)</option>
                                                
                                            <!-- Add more options as needed -->
                                        </select>
                                
                                        <button id="convertButton" onclick="convert()">Convert</button>
                                
                                        <div id="result"></div>
                                    </div>
                        </div>
                
                        <div> 
                                <br>
                                <h2>The SI-eenheid van debiet is: <u>m³/s</u></h2>
                                <table>
                                       
                                        <thead>
                                            <tr>
                                                <th>Grootheid</th>
                                                <th>SI-eenheid</th>
                                                <th>Eenheid om te zetten in</th>
                                                <th>Gelijkwaardigheid</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="5" class="colspan">Debiet</td>
                                                <td rowspan="5" class="colspan">1 m³/s</td>
                                                <td>Kubieke meter per uur</td>
                                                <td>3600 m³/h </td>
                                            </tr>
                                            <tr>
                                                <td>Kubieke meter per minuut</td>
                                                <td>60 m³/min</td>
                                            </tr>
                                            <tr>
                                                <td>Liter per uur</td>
                                                <td>3.600.000 l/h</td>
                                            </tr>
                                            <tr>
                                                <td>Liter per minuut</td>
                                                <td>60.000 l/min</td>
                                            </tr>
                                            <tr>
                                                <td>Liter per seconde</td>
                                                <td>1000 l/s</td>
                                            </tr>
                                        
                                            <!-- Add more rows as needed -->
                                        </tbody>
                                </table>
                                
                        </div>
                </div>
    
        </div>
        
        
</div>




   


{% endblock %} 