.listView-items {
    display: grid;
    padding: 10px;
    grid-gap: 10px; /* Adjust the gap between items */
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: stretch; /* Make items stretch to match the height of the tallest item */
}

.listView-items li {
    padding: 10px;
}

.entry-news {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%; /* Set your desired height */
}
.entry-news a {
    margin-top: auto; /* Align the <a> element at the bottom */
}

.entry-news a:link,
.entry-news a:visited {
    color: #000000;
    text-decoration: none;
}
.entry-image {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.entry-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will make the image cover the entire container */
    filter: grayscale(100%); /* Start with the image in grayscale */
    transition: filter 0.4s;
    border-radius: 10px;
}
.entry-image:hover img{
    filter: grayscale(0%)
}
.entry-publishedOn {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
}

.published {
    color: #002f73;
    display: block;
    margin-bottom: 10px;

}
.header-news {
    background-color: #ffffff;
}
.entry-title {
    margin-top: 0;
    color: #5250bd;
    height: 46px ;
}
.value-title {
    
    color: #000000;
    
}
.maintoola2{
    display: flex;
    justify-content: space-between;
}
.maintoola2 button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

@media (max-width: 599px) {
	/* Voeg hier stijlen toe voor kleine schermen */
    .listView-items {
        grid-template-columns: 100%; /* Create 4 columns */
    }
    .entry-image {
        max-width: 150px;
    }
}

/* Gemiddelde schermen */
@media (min-width: 600px) and (max-width: 767px) {
	/* Voeg hier stijlen toe voor gemiddelde schermen */
    .listView-items {
        grid-template-columns: 100%; /* Create 4 columns */
    }
    .entry-image {
        max-width: 200px;
    }
}

/* Grote schermen */
@media (min-width: 768px) and (max-width: 991px) {
	/* Voeg hier stijlen toe voor grote schermen */

    .listView-items {
        grid-template-columns: 50% 50%; /* Create 4 columns */
    }
    .entry-image {
        max-width: 300px;
    }
}

/* Styles for larger screens (default) */
@media (min-width: 991px) {
	/* Voeg hier stijlen toe voor laptop schermen */
    .listView-items {
        grid-template-columns: 33% 33% 33%; /* Create 4 columns */
    }
    .entry-image {
        max-width: 400px;
    }

}