{% extends 'home/base.html'%}
{% block content %}
{% load static  %}

        <div class="about-content">
            <div class="text-column">
                <h1>Steven Bax ontwerpt!</h1>
                <p>
                    Onze visie is het creëren van een geïntegreerd "Kropman" platform, gericht op installatietechniek, werktuigbouwkunde, elektrotechniek en bouwkunde, met een specifieke focus op gebouwautomatisering. Wij streven ernaar een dynamisch ecosysteem te ontwikkelen waarbinnen professionals samenkomen om te innoveren, kennis te delen en baanbrekende oplossingen te ontwerpen.
                    <br> <br>
                    In het hart van ons platform bevinden zich geavanceerde ontwerptools die specifiek zijn ontwikkeld voor de complexiteit van projecten binnen installatietechniek, werktuigbouwkunde en bouwkunde. Deze tools dienen als katalysator voor efficiëntie en precisie, waardoor professionals in staat zijn om state-of-the-art ontwerpen te realiseren.
                    <br> <br>
                    Onze forums fungeren als bruisende gemeenschappen waar experts uit verschillende vakgebieden samenkomen. Hier worden niet alleen uitdagingen besproken, maar ook ideeën geïncubeerd en nieuwe samenwerkingen gesmeed. We geloven dat een actieve en collaboratieve gemeenschap de voedingsbodem is voor innovatie.
                    <br> <br>
                    Een onderscheidend kenmerk van ons platform is de integratie van geavanceerde gebouwautomatiseringstechnologieën. Door AI-ondersteuning bieden we een omgeving waarin automatisering naadloos samensmelt met installatietechniek, werktuigbouwkunde en elektrotechniek. Dit opent de deur naar intelligente en duurzame oplossingen die de toekomst van de bouwsector zullen vormgeven.
                    <br> <br>
                    Om de kers op de taart te zetten, introduceren we de "Innovatie Top" op ons platform. Dit is een exclusieve sectie gewijd aan de meest opmerkelijke en vooruitstrevende projecten, ideeën en technologieën binnen onze gemeenschap. Hier worden innovaties in de schijnwerpers gezet, waardoor professionals worden aangemoedigd om te streven naar excellentie en grenzen te verleggen.
                    <br> <br>
                    Met deze visie willen we het "Kropman" platform positioneren als de ultieme bestemming voor technische professionals die streven naar innovatie, samenwerking en vooruitgang binnen de installatietechniek, werktuigbouwkunde, elektrotechniek en bouwkunde.
                <!-- Your long paragraph goes here -->
                </p>
            </div>
            <div class="image-column">
                <img src="{% static 'home/images/trudo-toren.jpg' %}" alt="Trudo Toren Image">
            </div>    
           




    
{% endblock content %} 
