<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Ontwerp & Techniek</title>
        <link rel="stylesheet" href="{% static 'home/styles/base.css'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/images/favicon.ico' %}">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <header class="navbar">
            <div class="navbar-brand">
                <a href="https://kropman.nl/" class="logo-container" target="_blank">
                    <img src="{% static 'home/images/I.png' %}" class="logo logo-i" alt="Logo I">
                    <img src="{% static 'home/images/bigger_than.png' %}" class="logo logo-bigger-than" alt="Logo Bigger Than">
                </a>
            </div>
            <nav class="navbar-menu">
                <ul>
                    <li><a href="\">Home</a></li>
                    <li><a href="\tools">Tools</a></li>
                    <li><a href="\nieuws">Nieuws</a></li>
                    <li><a href="\forum">Forum</a></li>
                    <li><a href="\create-new-chat/">Chat</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:profile_edit'%}" id="change_pass"><img src="{% static 'accounts/images/profile.png' %}"> </a></li> 
                    <li> 
                        <form action="{% url 'accounts:logout'%}" method="POST">
                            <button type="submit" name="logoutbutton" id="logoutbutton"><img src="{% static 'accounts/images/logout_icon.png' %}">  </button>
                            {% csrf_token %}
                        </form>
                    </li>
                    {% if user.is_superuser %}
                    <li><a href="{% url 'accounts:signup'%}" id="signup"><img src="{% static 'accounts/images/sign-up.png' %}"></a></li>
                    {% endif %}
                    {% else %}
                    <li><a href="{% url 'accounts:login'%}" id="login"><img src="{% static 'accounts/images/login_icon.png' %}"> </a></li>
                    
                    {% endif %}
                </ul>
            </nav>
        </header>
 
           
                      
        <main>

            {% block content %}
            {% endblock %}

        </main>
        
    
   

        <footer>
            <div class="footer-banner" id="FooterBanner">
                <div>
                    <p>&copy; 2024 www.kropman.nl</p>
                    <p>Lagelandseweg 84, 6545CG Nijmegen Nederland</p>
                    <p>Email: steven.bax@kropman.nl</p>
                    <p>Versie 1.2</p>
                </div>
                
                <div> 
                    <p>Volg ons op:</p>
                    &ensp; <a href="https://www.facebook.com/KropmanInstallatietechniek">
                        <img class="footer-image" src ="{% static 'home/images/facebook.png' %}" alt = "Footer image" width="30" height=auto></a> &ensp;
                    <a href="https://twitter.com/Kropman_nl">
                        <img class="footer-image" src ="{% static 'home/images/twitter.png' %}" alt = "Footer image" width="30" height=auto></a> &ensp;
                    <a href="https://www.linkedin.com/company/kropman-installatietechniek">
                        <img class="footer-image" src ="{% static 'home/images/linkedin.png' %}" alt = "Footer image" width="30" height=auto></a> &ensp;
                </div>
                
            
               

            </div>
          
        </footer>
         
        <script src="{% static 'home/scripts/script_home.js' %}"></script>
        {% block extra_js %} {% endblock %}
       
        
    </body>
</html>