{% extends 'home/base.html'%}
{% block content %}
{% load static  %}

        <div class="home-content">
                <h1>Steven Bax ontwerpt!</h1>
                <p>Ons "Kropman" platform is gericht op installatietechniek, werktuigbouwkunde, elektrotechniek en bouwkunde met een focus op gebouwautomatisering.
                    <br> 
                    We bieden geavanceerde ontwerptools, levendige forums en integratie van AI-technologieën om professionals te ondersteunen. 
                    <br>
                    Onze unieke "Innovatie Top" benadrukt en beloont baanbrekende projecten en ideeën binnen deze gemeenschap.
                    <br>
                </p>
                <div class="button-container-home">

                    <a href="https://www.talentvoortransitie.nl/stapaanboord/" target="_blank" rel="noopener">
                        <button class="button-span" type="button" id="openLink"><span></span>Energietransitie</button>
                    </a>
                    <a href="https://www.kropman.nl/" target="_blank" rel="noopener">
                        <button class="button-span" type="button" id="openLink"><span></span>Kropman website</button>
                    </a>
                </div>
                <img src="{% static 'home/images/trudo-toren.jpg' %}">
        </div>

       
        <div>
   
        </div>




    
{% endblock content %} 
