# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django-specific files and directories
db.sqlite3
media/
assets/
tools/static/tools/files/
news/static/news/files/
chat/docs/
debug.log

# Ignore log and temporary files
*.log
*.pot

# Environment files
config/settings/.env

# IDE or system files
.DS_Store
Thumbs.db

