{% extends 'home/base.html'%}

{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'chat/styles/chat.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
{% csrf_token %}

<div class="top-banner"> 
        <div class="top-banner-items">
            <div>            <h1>Chatbot</h1>          </div>
            <div>       <a href="{% url 'chat:create_new_conversation' %}"><img src="{% static 'chat/images/chatbot.png' %}">  </a>             </div>
        </div>
</div>
        
<div class="second-banner"> 
    
    <div class="second-banner-items">
        <p></p>
        <div>
            Welkom  <b><span >{{user.first_name}} {{user.last_name}},</span></b>
            <p>Dit is jouw persoonlijke omgeving waar je vragen kan stellen aan O&T via een Custom-Trained AI-chatbot die getraind is op alle 
            normen, eisen en een afgeleide is van OpenAI van Google.</p>
        </div>
        <span type="hidden" style="text-transform: uppercase;" id="current_username" hidden>{{ user.username }}</span>
    </div>
</div>

<div class="main-banner">
    <div class="main-banner-items">
        <div class="container">
            <div class="row">
                <div class="saved_conversations col-md-3 sidebar shadow p-3 bg-white rounded">
                    <div class="header-container d-flex justify-content-between align-items-center mb-3">
                        <h4>Opgeslagen gesprekken</h4>
                        <a href="{% url 'chat:create_new_conversation' %}" class="create-link">
                            <img src="{% static 'chat/images/new-conversation.png' %}" alt="Create New Conversation" style="width: auto; height: 30px;">
                        </a>
                    </div>
                    
                    <ul class="list-group">
                        {% for conversation in conversations %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="conversation-title">
                                <a href="{% url 'chat:chatbot_with_conversation' pk=conversation.pk %}">
                                    {{ conversation.title }}
                                    <input type="hidden" id="conversation-id" value="{{ selected_conversation.pk }}">
                                </a>
                            </div>
                            <form action="{% url 'chat:delete_specific_conversation' pk=conversation.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <img src="{% static 'chat/images/delete-icon.png' %}" alt="Delete Conversation" style="width: auto; height: 20px; color:red;">
                                </button>
                            </form>
                        </li>
                        {% empty %}
                        <li class="list-group-item">No conversations found.</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Chat Display and Input -->
                <div class="col-md-9">
                    <div id="chat-container">
                        <div class="chat-header">
                            {% if selected_conversation %}
                                <h2>{{ selected_conversation.title }}</h2>
                            {% else %}
                                <h2>Select or Start a Conversation</h2>
                            {% endif %}
                        </div>
                        <div id="chat-container">
                            <div id="chat-display" class="mb-3">
                                <!-- Display conversations if any -->
                                {% if user_bot_responses %}
                                    {% for user_bot_response in user_bot_responses %}
                                        <div class="message mb-2 user-message">
                                            <div class="user_chat wrap"><b>You</b> <br> {{ user_bot_response.user_input }}</div>
                                            <div class="circle_user first-letters">{{ request.user.username|slice:":2"|upper }}</div>
                                        </div>
                                        <div class="message mb-2 bot-message">
                                            <div class="circle_bot">K</div>
                                            <div class="bot_response wrap"><b>Chatbot</b> <br>{{ user_bot_response.bot_response|safe }}</div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h3 id="start_new_conversation">Start nieuw gesprek</h3>
                                {% endif %}
                            </div>
                        
                            <div id="user-input-container" class="input-group mb-3">
                                <input type="text" id="user_input" class="form-control" placeholder="Schrijf je bericht..." onkeyup="handleEnterKey(event)">
                                <button id="send-button" class="btn send-button" onclick="sendMessage()">
                                    <span class="arrow-up-icon">&#9650;</span>
                                </button>
                            </div>
                        
                            <!-- Hidden input to store chat_name -->
                            <input type="hidden" id="chat_name" value="{{ chat_name }}">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


 
        

{% endblock content %}
{% block extra_js %}
<!-- This makes sure this JS is only be loaded when rendering this HTML page. Whilst the common JS Files included in de extra_js block of base.html will be loaded across all pages -->
<script src="{% static 'chat/scripts/chat.js' %}"></script>
{% endblock %} 