{% extends 'home/base.html'%}
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'news/styles/news.css'%}">
{% endblock %}

{% block content %}


<div class="main-banner">
    <div class="main-banner-items">
        <div class="create-article">
            <h2>Create a new article</h2>
            <form class="site-form" action="{% url 'news:create' %}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                {{ form }}
                <input type="submit" name="" value="Create">
            </form>
        </div>
    </div>
</div>

<script src="{% static 'news/scripts/slugify.js' %}"></script>
{% endblock %} 
