{% extends 'home/base.html'%}


{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'news/styles/news.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

{% endblock %}

{% block content %}
{% csrf_token %}

<div class="top-banner"> 
    <div class="top-banner-items">
        <div>            <h1>Nieuws</h1>          </div>
        <div> <a href="{% url 'news:news' %}">   <img src="{% static 'news/images/speaker.png' %}">  </a>  </div>
    </div>  
</div>

<div class="second-banner"> 
    <div class="second-banner-items">
        <div>     <p> Het laatste nieuws betreffende <strong>Klimaat & Energie</strong> met betrekking tot de gebouwde omgeving.
           Nieuws is afkomstig van <u>www.weii.nl/nieuws/</u> & <u>www.installatie.nl/nieuws.</u> & <u>www.ew-installatietechniek.nl/nieuws</u>  </p>  
        </div>
        
        <div class="maintoola2">
            <form method = "post" action="{% url 'news:news' %}">   
                {% csrf_token %}          
                    <button id="refreshButton">Updaten</button>
                
            </form>   
            {% if user.is_authenticated and user.is_superuser %}
            <form method = "post" action="{% url 'news:delete_all_news' %}">   
                {% csrf_token %} 
                    <button id="deleteDbButton">Verwijder alle artikelen</button>
                    
            </form>
            
            {% endif %}    
        </div>
        
               
    </div>
</div>

<div class="main-banner">
    <div class="main-banner-items">    
        <div >
            <ul class="listView-items"> 
                {% for article in articles %}
                <li>
                    <article class="entry-news">
                        <a href="{{article.url}}" title="Titel" target="_blank" rel="noopener">
                            <figure class="entry-image">
                                <img src="{{article.thumb.url}}">
                            </figure> 
                            <header class = "header-news">
                                <p class="entry-publishedOn"> {{article.date_published_text}}</p> 
                                <h6 class="entry-title" >{{article.title}}</h6>
                            </header> 
                        </a> 
                    </article>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="{% static 'news/scripts/slugify.js' %}"></script>

{% endblock %} 