{% extends 'home/base.html'%}

{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/styles/forum.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}


{% block content %}
{% csrf_token %}

<div class="top-banner"> 
        <div class="top-banner-items">
                <div> <h1> Forum </h1>  </div>
                <div>  <a href="{% url 'forum:topic_list' %}">  <img src="{% static 'forum/images/forum.png' %}"> </a> </div>
        </div> 
</div>

<div class="second-banner"> 
        <div class="second-banner-items">
            <p>Dit is een forum platform waar gediscusieerd kan worden over bepaalde zaken op deze website. 
                Suggesties, op- en aanmerkingen zijn welkom en je kan op elkaar reageren.</p>                 
              
        </div>
</div>


<div class="main-banner bg-light py-5">
    <div class="main-banner-items">
        <h2>Nieuwe Categorie</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </form>
    </div>
</div>

    
   

{% endblock content %}
{% block extra_js %}
<!-- This makes sure this JS is only be loaded when rendering this HTML page. Whilst the common JS Files included in de extra_js block of base.html will be loaded across all pages -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="{% static 'forum/scripts/forum.js' %}"></script>
{% endblock %}  