{% extends 'home/base.html'%}

{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/styles/forum.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}


{% block content %}
{% csrf_token %}

<div class="top-banner"> 
        <div class="top-banner-items">
                <div> <h1> Forum </h1>  </div>
                <div>  <a href="{% url 'forum:topic_list' %}">  <img src="{% static 'forum/images/forum.png' %}"> </a> </div>
        </div> 
</div>

<div class="second-banner"> 
        <div class="second-banner-items">
            <p>Dit is een forum platform waar gediscusieerd kan worden over bepaalde zaken op deze website. 
                Suggesties, op- en aanmerkingen zijn welkom en je kan op elkaar reageren.</p>                 
              
        </div>
</div>

<div class="main-banner bg-light py-5">
    <div class="container mt-5">
         <!-- Forum Topics Header -->
        <div class="text-center mb-4">
            <h1 class="display-4">Forum Topics</h1>
            <div class="center">
                <a href="{% url 'forum:create_topic' %}" class="btn btn-green mb-3 mt-3 btn-sm">Maak nieuwe</a>
            </div>
            {% if user.is_superuser %}
            <div class="d-inline">
                <a href="{% url 'forum:add_category' %}" class="btn btn-sm">
                    <img src="{% static 'forum/images/add.png' %}" alt="Add" style="width: 16px; height: 16px;">
                </a>
                <!-- Note: Ensure that 'category' is defined in the context of the superuser block -->
                {% if category %}
               
                {% endif %}
            </div>
            {% endif %}
        </div>
        
        <div class="container mt-4">
            {% for category, topics_in_category in topics_by_category.items %}
                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid" style="max-height: 50px;">
                        {% endif %}
                        {%if user=user.superuser%}
                        <a href="{% url 'forum:edit_category' category.pk %}" class="btn btn-sm">
                            <img src="{% static 'forum/images/edit.png' %}" alt="Edit" style="width: 16px; height: 16px;">
                        </a>
                        {%endif%}
                        <h3 class="mr-3">{{ category.name }}</h3>
                    </div>
                    <br>
                    <div class="row">
                        {% for topic in topics_in_category %}
                            <div class="col-md-4 mb-3">
                                <a href="{% url 'forum:topic_detail' topic.pk %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center shadow-sm">
                                    <span class="font-weight-bold">{{ topic.title }}</span>
                                    <small class="text-muted">by {{ topic.created_by.username }}</small>
                                </a>
                            </div>
                            {%if user.is_superuser%}
                            
                            {%endif%}
                        {% endfor %}
                       
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-warning text-center" role="alert">
                    No categories with topics available.
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>

    
   

{% endblock content %}
{% block extra_js %}
<!-- This makes sure this JS is only be loaded when rendering this HTML page. Whilst the common JS Files included in de extra_js block of base.html will be loaded across all pages -->

<script src="{% static 'forum/scripts/forum.js' %}"></script>
{% endblock %}  