{% extends 'home/base.html'%}
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/styles/accounts.css'%}">
{% endblock %}

{% block content%}
{% csrf_token %}
<div class="main-banner">
    <div class="main-banner-items">
        <div class="centered">
            <h1> Log In </h1>
            <form action="{% url 'accounts:login' %}" class="site-form" method="post">
                {% csrf_token %}
                {{form}}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}
                <input type="submit" value="Login">
            </form>
        </div>
        

    </div>
  

</div>
<script>
    // Log the value of the 'next' parameter to the console
    console.log("Next parameter:", "{{ request.POST.next }}");
</script>

{% endblock %}