{% extends 'home/base.html'%}

{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/styles/accounts.css'%}">
{% endblock %}

{% block content%}
{% csrf_token %}
<div class="main-banner">
    <div class="main-banner-items">
        <div class="centered">
            <h1>Password Changed</h1>
            <p>Your password has been successfully changed.</p>
            <a href="{% url 'login' %}">Login again</a>
        </div>
    </div>
</div>


{% endblock %}