main {
    flex: 1; /* Allow the main content to grow and fill available space */
}

body {
	display: flex;
    flex-direction: column;
	background: white;
	border-radius: 20px;
	margin: 0; 
	padding: 0;
	width: 100%;
}

.navbar {
    background-color: #ffffff;
	width:  60%;
	height:  fit-content;
	margin: auto; /*automatically center */
	display: flex;
	align-items: center; /* Center images vertically */
	justify-content: space-between;
	line-height: 1;
}
.navbar-menu img {
	height: 30px;
	width: auto;
	vertical-align: middle;
}

.navbar-brand {
	display: flex;
    align-items: center; /* Center items vertically */
	margin-top: 1%;
	margin-bottom: 1%;
}
.logo-container {
    display: flex; /* Ensure the logo container is a flex container */
    align-items: center; /* Center items vertically */
    text-decoration: none; /* Remove default link underline */
	
}
.logo {
	max-width: 50px; /* Adjust the maximum width of the logos as needed */
    height: 50px; /* Maintain aspect ratio */
}

/* Define animations */
@keyframes rotateAnimation {
    0% {        transform: rotate(0);    }
    100% {        transform: rotate(180deg);    }
}
@keyframes rotateAnimationBack {
    0% {        transform: rotate(180deg);    }
    100% {        transform: rotate(0);    }
}

@keyframes moveLeft {
    0% {       transform: translateX(0);    }
    50% {        transform: translateX(-300px) scale(1);	}
    100% {        transform: translateX(0px) scale(1);    }
}

/* Apply animations on hover */
.logo-container:hover {
    animation: rotateAnimation 0.5s linear forwards, rotateAnimationBack 0.5s 2.4s linear forwards; /* rotate animation within 0.5 seconds, wait 2.4s and rotate back */
}
.logo-container:hover .logo-i {
    animation: moveLeft 2s 0.45s linear forwards; /* wait 0.45s moveLeft logo-I part and do that for 2 seconds */
}

.navbar-menu {
    float: right;
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: flex;
    align-items: center;
}

.navbar-menu ul li {
    display: flex;
	float: left;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0 10px;
    position: relative;
	text-align: center;
	align-items: center;
}

.navbar-menu ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
	text-decoration: none;
}
.navbar-menu ul li form {
    display: flex;
    justify-content: center; /* Horizontally center the form */
    align-items: center; /* Vertically center the form */
    margin: 0; /* Reset margin */
}
.navbar-menu ul li::after {
	content: "";
	height: 3px;	
	width: 0;
	background: #13f539;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar-menu ul li:hover::after{
	width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-banner {
	background-color: #ffffff; /* Background color of the header */
	margin-top: 1%;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right,rgba(92, 216, 35, 0.75), rgba(10, 92, 3, 0.75)) 1;
}

#logoutbutton,
#login {
	border: none;
	border-left: 4px solid #09ff00;
	padding-left: 10px;
	color: #000000;
	background: transparent;
	cursor: pointer;
	text-transform: lowercase;
}

#signup,
#change_pass {
	text-transform: lowercase;
}

/* Basisstijlen voor de pagina-indeling */
.top-banner{
    background: linear-gradient(to right,rgba(92, 216, 35, 0.75), rgba(10, 92, 3, 0.75));
	margin: 0;
	max-height: 300px;
    display: flex;
    justify-content: center;
}
.top-banner-items{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-banner h1{
    font-size: 40px; 
	color: #f7f7f7;
}
.top-banner img {
	width: 100px;
	height: auto;
    padding: 10px;
	
}
.second-banner{
    background: rgb(241, 241, 241);
	margin: 0;
	max-height: 300px;
    display: flex;
    justify-content: center;
}
.second-banner-items{
	margin-top:10px;
	width: 60%;
	display: flex;
    justify-content: space-between;
	margin-right: 10px; /* Add some spacing between list items */
}

.main-banner{
	background: transparent; /* because of span button */
	margin: 0;
	display: flex; /* zorgt voor centreren van content */
    justify-content: center;
}

.main-banner-items{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: left;
}

footer {
	display: flex;
    justify-content: center;
	bottom: 0;
	right: 10;
	width: 100%;
	background: linear-gradient(to left,rgba(92, 216, 35, 0.75), rgba(10, 92, 3, 0.75));
	color: rgb(253, 253, 253);
	
}
.footer-banner{
	width: 60%;
	margin: auto; /*automatically center */
	display: flex;
	align-items: center; /* Center vertically */
	justify-content: space-between;
}

.footer-banner img {
	height: auto; /* Maintain the aspect ratio */
	cursor: pointer
}

@media (max-width: 599px) {
	/* Voeg hier stijlen toe voor kleine schermen */

}

/* Gemiddelde schermen */
@media (min-width: 600px) and (max-width: 767px) {
	/* Voeg hier stijlen toe voor gemiddelde schermen */
	
}

/* Grote schermen */
@media (min-width: 768px) and (max-width: 991px) {
	/* Voeg hier stijlen toe voor grote schermen */



}

/* Styles for larger screens (default) */
@media (min-width: 991px) {
	/* Voeg hier stijlen toe voor laptop schermen */


}

@media print {
	@page {
		size: A4;
		/* You can also adjust other properties like margins, orientation, etc. */
		margin: 2cm; /* Example margin */
	  }
	header.navbar,
	footer {
	  display: none;
	}
  }