.maintoola2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.second-banner-items ul {
    list-style-type: none;
    padding: 0;
	display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Evenly distribute items horizontally */
}

.second-banner-items li {
    display: inline-block; /* Align list items horizontally */
    margin-right: 10px; /* Add some spacing between list items */
}


.input-container, .output-container {
    display: flex;
    justify-content: space-between;
}
#categoryList {
    margin-top: 10px;
}
#categoryList li {
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.grid-item a {
    text-decoration: none;
    color: #000;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item h2 {
    margin: 10px 0;
    padding: 0 10px;
}

.grid-item:hover {
    transform: scale(1.05);
}
#categoryList li:hover {
    color: rgb(2, 199, 2);
}

#converter {
    margin-bottom: 30px;
    background-color: rgb(241, 241, 241);
    width: 400px;
    border-radius: 10px;
    padding: 5px; /* compensate with padding */
}

#converter input[type="number"],
#converter select {
    width: calc(100% - 22px); /* Adjusted width to account for padding and border */
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#converter label {
    
    margin-top: 10px;
    display: block;
}

#converter #result {
    margin-top: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
    background-color: #fafafa;
    width: 172px; /* Set a fixed width for the output */
   /* height: 17px; /* Set a fixed height for the output */
    max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 20px;
    border-collapse: separate; /* Use 'separate' to allow rounded corners */
    overflow: hidden; /* Ensure the table respects the border radius */
    border-radius: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(241, 241, 241);
}
td.colspan {
    background-color: rgb(241, 241, 241);
    font-weight: bold;
}
/* Round the corners on the outside edges of the table */
table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}
.rounded-corner {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}