.second-banner-items b {
    margin-top: 40px;
}

/* Style the main banner */
.chat-banner {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Style the container */
.center-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;  /*align items at the top */
    height: 100vh; /* Set the container to full height of the viewport */
}

/* Center the container */
.container {
    display: flex;
    flex-direction: column; /* Adjust the direction to column */
    align-items: center; /* Center horizontally */
}

/* Style the sidebar */
.sidebar {
    width: 200px;
    /* Add any additional styles for the sidebar */
}

/* Style the chat container */
#chat-container {
    flex: 1;
    padding: 10px;
    width: 600px; /* Ensure the chat container takes full width */
    max-height: 800px;
}

/* Style the chat display area */
#chat-display {
    /*border: 1px solid #ccc;*/
    padding: 10px;
    height: auto; /* Set the desired height for the chat display */
    overflow-y: auto; /* Enable vertical scroll if needed */
    border-radius: 4px;
    white-space: normal;
    max-height: 730px;
    scroll-behavior: smooth;
}


/* Style the user input container */
#user-input-container {
    display: flex;
    margin-top: 10px;
}

/* Style the input field container */
.input-with-button {
    position: relative;
    width: 100%;
}

/* Style the user input field */
#user-input {
    width: 100%;
    padding: 8px;
    padding-right: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none; /* Disable textarea resizing by the user */
    min-height: 38px; /* Set a minimum height to prevent collapsing */
    white-space: normal;
}

/* Style the send button */
#send-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4.5px;
    margin-right: 2px;
}

/* Style the arrow-up icon */
.arrow-up-icon {
    font-size: 14px;
}

/* Hover effect for the send button */
#send-button:hover {
    background-color: #45a049;
    transition: background-color 0.3s ease;
}

.message {
    margin-bottom: 20px;
    display: flex;
    align-items: top;
}
.circle_user {
    width: 30px;
    height: 30px;
    background-color: #ce864b; /* You can change the background color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    
}
.circle_bot {
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 10px;
    
}
.user_chat,
.bot_response {
    width: calc(100% - 70px);
}
